<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Sample Root</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Sample Root</h1>
        <h:form>

            <div>
                <h:commandLink action="#{root.fwSelectItem()}">SelectItem</h:commandLink>
            </div>
            <div>
                <h:commandLink action="#{root.fwSelectItemAjax()}">SelectItemAjax</h:commandLink>
            </div>
            <div>
                <h:commandLink action="#{root.fwSelectItemTable()}">SelectItemTable</h:commandLink>
            </div>
            <div>
                <h:commandLink action="#{root.fwSelectItemTableRowSelect()}">SelectItemTableRowSelect</h:commandLink>
            </div>
            <div>
                <h:commandLink action="#{root.fwLabel()}">Label</h:commandLink>
            </div>
        </h:form>
    </body>
</html>
