<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>properties label</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <div>
                <p>#{label.hello}</p>
                <p>#{label['hello.hi']}</p>
                <p>#{msg['gender_male']}</p>
            </div>
        </h:form>
    </body>
</html>
