<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>JSF SELECT ITEM</title>
    </h:head>
    <body>
        <form jsfc="h:form">
            <h1>JSF SELECT ITEM PATTERN Ajax</h1>
            <dir>
                <h2>Enum has code and property </h2>
                <select jsfc="h:selectOneMenu" value="#{selectItemAjax.selectItemValueEnumCodeProperty}">
                    <option jsfc="f:selectItem" itemLabel="#{msg['noselect']}"></option>
                    <option jsfc="f:selectItems" value="#{selectItemAjax.enumCodeProperty.values}"></option>
                    <f:ajax listener="#{selectItemAjax.changeItem}" render="map" event="change"/>
                </select>
            </dir>
            <hr />
            <dir>
                <h2>Map</h2>
                <select id="map" jsfc="h:selectOneMenu"  value="#{selectItemAjax.selectItemValueMap}">
                    <option jsfc="f:selectItems" value="#{selectItemAjax.selectItemMap.values}"></option>
                </select>
            </dir>
            <hr />
            <dir>
                <input type="submit" jsfc="h:commandButton" value="更新" action="#{selectItemAjax.submit()}"/>
            </dir>
        </form>
    </body>
</html>
