<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <style type="text/css">
        td, th { border: 1px #000000 solid; }
    </style>

    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>JSF SELECT ITEM</title>
    </h:head>
    <body>
        <form jsfc="h:form">
            <h1>JSF SELECT ITEM PATTERN Table + Ajax</h1>
            <table>
                <thead>
                    <tr>
                        <th>SEQ</th>
                        <th>性別</th>
                        <th>お菓子</th>
                    </tr>
                </thead>
                <tbody>
                    <tr jsfc="ui:repeat" value="#{selectItemTableAjax.genderSnackTable.forms}" var="row" id="rep">
                        <td>
                            #{row.seq}
                        </td>

                        <td>
                            <select jsfc="h:selectOneMenu" value="#{row.genderCode}">
                                <option jsfc="f:selectItems" value="#{row.genderEnum.values}" />
                                <f:ajax listener="#{selectItemTableAjax.changeRowGender}" render="snack" event="change" />
                            </select>
                        </td>

                        <td>
                            <select id="snack" jsfc="h:selectOneMenu" value="#{row.snackCode}">
                                <option jsfc="f:selectItems" value="#{row.snackList.values}" />
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir>
                <input type="submit" jsfc="h:commandButton" value="状態取得" action="#{selectItemTableAjax.submit()}"/>
            </dir>
        </form>
    </body>
</html>
