<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <style type="text/css">
        td, th { border: 1px #000000 solid; }
    </style>
    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>JSF SELECT ITEM</title>
    </h:head>
    <body>
        <form jsfc="h:form" id="f">
            <h1>JSF SELECT ITEM PATTERN Table + Ajax All Select</h1>
            <span>
                ページ
                <input type="text" jsfc="h:inputText"  value="#{selectItemTableRowSelect.table.startViewPagePos}">
                    <f:ajax listener="#{selectItemTableRowSelect.changePagePos}" render="f-list"/>
                </input>
                ／3
            </span>

            <h:panelGroup id="list">
                <table>
                    <thead>
                        <tr>
                            <th >
                                <input type="checkbox" id="allselect" jsfc="h:selectBooleanCheckbox"  value="#{selectItemTableRowSelect.table.isSelect}">
                                    <f:ajax event="change" listener="#{selectItemTableRowSelect.checkAllSelect}"   render="#{selectItemTableRowSelect.table.allSelectRenderAttrIds}" />
                                </input>
                            </th>
                            <th>SEQ</th>
                            <th>適当な文字列</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr jsfc="ui:repeat" value="#{selectItemTableRowSelect.table.viewForms}" var="row" varStatus="varStatus" id="rep">
                            <td>
                                <input type="checkbox" id="isselect" jsfc="h:selectBooleanCheckbox"  value="#{row.isSelect}" >
                                    <f:ajax event="change" listener="#{selectItemTableRowSelect.checkDetailRowSelect}"   render="f-allselect" />
                                </input>
                            </td>
                            <td>#{row.seq}</td>
                            <td>固定文字ああああ</td>
                        </tr>
                    </tbody>
                </table>
            </h:panelGroup>
            <dir>
                <input type="submit" jsfc="h:commandButton" value="状態取得" action="#{selectItemTableRowSelect.submit()}"/>
            </dir>
        </form>
    </body>
</html>
